name: CI
on:
  - push
#   - pull_request
jobs:
  test:
    env: 
      GKS_ENCODING: "utf8"
      GKSwstype: "nul"
    name: ${{ matrix.test_set }} - ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.version == 'pre' }}
    strategy:
      fail-fast: false
      matrix:
        test_set: ["basic", "estimation"]
        version: ['1']
        os: [ubuntu-latest, macos-latest, windows-latest]
        arch: [x64, arm64]
        exclude:
          - arch: arm64
            os: ubuntu-latest
          - arch: arm64
            os: windows-latest
          - arch: x64
            os: macos-latest
        include:
          - os: ubuntu-latest
            prefix: xvfb-run
          # - version: '1'
          #   os: macos-latest
          #   arch: x64
          #   test_set: "solver0"
          # - version: '1'
          #   os: macos-latest
          #   arch: x64
          #   test_set: "solver1"
          # - version: '1'
          #   os: macos-latest
          #   arch: x64
          #   test_set: "solver2"
          # - version: '1'
          #   os: macos-latest
          #   arch: x64
          #   test_set: "solver3"
          - version: '1'
            os: ubuntu-latest
            arch: x64
            test_set: "higher_order_1"
          - version: '1'
            os: ubuntu-latest
            arch: x64
            test_set: "higher_order_2"
          - version: '1'
            os: windows-latest
            arch: x64
            test_set: "higher_order_3"
          - version: '1'
            os: ubuntu-latest
            arch: x64
            test_set: "plots_1"
          - version: '1'
            os: ubuntu-latest
            arch: x64
            test_set: "plots_2"
          - version: '1'
            os: windows-latest
            arch: x64
            test_set: "plots_3"
          - version: '1'
            os: macOS-latest
            arch: arm64
            test_set: "plots_4"
          - version: '1'
            os: ubuntu-latest
            arch: x64
            test_set: "plots_5"
          - version: '1'
            os: macOS-latest
            arch: x64
            test_set: "estimate_sw07"
          - version: '1'
            os: macOS-latest
            arch: x64
            test_set: "1st_order_inversion_estimation"
          - version: '1'
            os: macOS-latest
            arch: x64
            test_set: "2nd_order_estimation"
          - version: '1'
            os: macOS-latest
            arch: x64
            test_set: "pruned_2nd_order_estimation"
          - version: '1'
            os: ubuntu-latest
            arch: x64
            test_set: "3rd_order_estimation"
          - version: '1'
            os: ubuntu-latest
            arch: x64
            test_set: "pruned_3rd_order_estimation"
          - version: 'min'
            os: ubuntu-latest
            arch: x64
            test_set: "basic"
          - version: 'lts'
            os: ubuntu-latest
            arch: x64
            test_set: "basic"
          - version: 'pre'
            os: ubuntu-latest
            arch: x64
            test_set: "basic"
            allow_failure: true
          - version: 'pre'
            os: ubuntu-latest
            arch: x64
            test_set: "jet"
            allow_failure: true
          - version: '1'
            os: ubuntu-latest
            arch: x64
            test_set: "jet"
          - version: 'lts'
            os: ubuntu-latest
            arch: x64
            test_set: "jet"
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      # On the Julia “pre” matrix entries, drop the unsupported test-only package
      - name: Enforce JET compat 0.10
        if: matrix.version == 'pre'
        run: sed -i -E '/^\[compat\]/,/^\[/{s/^JET *=.*/JET = "0.10"/}' Project.toml
      - name: Set Custom Test Environment Variable (Windows)
        if: matrix.os == 'windows-latest'
        run: echo "TEST_SET=${{ matrix.test_set }}" | Out-File -Append -FilePath $env:GITHUB_ENV -Encoding utf8
      - name: Set Custom Test Environment Variable (non-Windows)
        if: matrix.os != 'windows-latest'
        run: echo "TEST_SET=${{ matrix.test_set }}" >> $GITHUB_ENV
      - name: Set JULIA_NUM_THREADS for estimation tests
        if: (matrix.version == '1' && (matrix.test_set == 'estimation' || matrix.test_set == 'estimate_sw07' || matrix.test_set == '1st_order_inversion_estimation'))
        run: echo "JULIA_NUM_THREADS=auto" >> $GITHUB_ENV
      - uses: actions/cache@v4
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        with:
          prefix: ${{ matrix.prefix }}  # for `xvfb-run`
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: lcov.info
